{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "es6": true,
    "node": true
  }
}
